.balanceContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
	background-color: #ffffff;
  padding-top: 20px;

  > h2 {
    flex-basis: 50%;
  }
}

.balanceInfo {
  text-align: left;
}

.balanceSpend {
  text-align: right;
}
