$img-size: 60px;
$img-half: $img-size / 2;

.transactionMap {
  background-color: rgb(242, 242, 242);
  border-radius: 4px;
}

.transactionHeader {
  min-height: $img-size + 15px;
  position: relative;
}

.transactionHeaderImg {
  width: $img-size;
  height: $img-size;
  position: absolute;
  top: 0;
  left: calc(50% - #{$img-half});
  border-radius: 4px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  .transactionMap + & {
    top: $img-half;
  }

  .transactionHeaderImgLetters {
    margin-bottom: 0;
    text-align: center;
    z-index: -1;
    background-color: rgb(225, 225, 225);
  }
}


.transactionTitle {
  text-align: center;
}
